<!DOCTYPE html>
<html lang="en">

<!-- Head -->
  <head>
    <title>About</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
  </head>

 <!-- Header/Image -->
 <body>
   <div id="heads">
     <% include partials/header.ejs %>
   </div>

   <main id="all">
     <% include partials/navigation.ejs %>

     <!-- Text/Title -->
     <div id="homepage">
       <h2> <br> About Us </h2>
       <p>
         <br> The idea of eSports Rally was established in 2019 by UNC Charlotte student, Seth Frady.
         <br> His main goal for the website is to bring all competitive gamers together in a unique way.
         <br> eSports Rally has the potential to be the biggest gamer meet up application with the help of our members.
       </p>
     </div>

     <div id="picture">
       <img src="/assets/images/profile.jpeg" alt="Seth Frady" class="center">
     </div>
   </main>

   <!-- Footer -->
   <div id="foots">
     <% include partials/footer.ejs %>
   </div>
 </body>
</html>
