<!DOCTYPE html>
<html lang="en">

<!-- Head -->
  <head>
    <title>Contact</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
  </head>

 <!-- Header/Image -->
 <body>
   <div class="heads">
     <% include partials/header.ejs %>
   </div>

   <main class="all">
     <% include partials/navigation.ejs %>

     <!-- Text/Title -->
     <div id="homepage">
       <h2> <br> <br> Contact Us! </h2>
       <p>
         <br> For anyone that might have questions, comments or concerns about the eSports Rally make sure
         <br> to use the email link below. We will be in quick contact with you within a few business days.
         <br> <br> Contact Information: <a href="mailto:someone@example.com">
           esportsrally@gmail.com</a>
       </p>
     </div>

     <div id="picture">
       <img src="/assets/images/question.png" alt="Contact" class="center">
     </div>
   </main>

   <!-- Footer -->
   <div class="footer">
     <% include partials/footer.ejs %>
   </div>
 </body>
</html>
