<!DOCTYPE html>
<html lang="en">

<!-- Head -->
  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
  </head>

  <!-- Header/Image -->
  <body>
    <div class="heads">
      <% include partials/header.ejs %>
    </div>

    <main class="all">
      <% include partials/navigation.ejs %>

      <!-- Text/Title -->
      <% if (errors !== null) { %>
      <div id="loginmsg">
        <ul>
          <% errors.forEach(function(error){ %>
          <li> <mark> <%= error.msg %> <mark> </li>
          <% }); %>
        </ul>
      </div>

      <div class="login">
        <h2>
          <br> Login to Esports Rally!
        </h2>
        <form action='/signIn' method='POST'>
        <label for="uname"><b>Username/Email</b></label>
        <input type="text" placeholder="Enter Username/Email" name="Username" required>
        <label for="psw"><b>Password</b></label>
        <input type="text" placeholder="Enter Password" name="Password" required>
        <button type="submit">Login</button>
        <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>

    <% } else { %>
    <div class="login">
      <h2>
        <br> Login to Esports Rally!
      </h2>
      <form action='/signIn' method='POST'>
      <label for="uname"><b>Username/Email</b></label>
      <input type="text" placeholder="Enter Username/Email" name="Username" required>
      <label for="psw"><b>Password</b></label>
      <input type="text" placeholder="Enter Password" name="Password" required>
      <button type="submit">Login</button>
      <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
   <% } %>
    </main>

    <!-- Footer -->
    <div class="footer">
      <% include partials/footer.ejs %>
    </div>
  </body>
</html>
